DB_HOST=db.xxxx.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your_supabase_db_password_here
PORT=5000
NODE_ENV=production

# Email Configuration (Gmail via Nodemailer)
GMAIL_USER=uzairmjd886@gmail.com
GMAIL_APP_PASSWORD=izvr irgl wpmf jebk 
FRONTEND_URL=http://localhost:5173
